[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
lint = """sh -c "
    echo 'Running black' \
    && black --check dvc_workshop \
    && echo 'Running isort' \
    && isort --check --gitignore dvc_workshop \
    && echo 'Running pylint' \
    && pylint dvc_workshop\
    && echo 'Running pydocstyle' \
    && pydocstyle dvc_workshop\
    && echo 'Running mypy' \
    && ! mypy dvc_workshop --disallow-untyped-defs --disallow-incomplete-defs | grep 'Function is missing' || false \
"
"""

[packages]
dvc = "*"
jupyterlab = "*"
pandas = "*"
numexpr = "*"
bottleneck = "*"
pathlib = "*"
gcloud = "*"
typer = "*"
dvc-gs = "*"
keras-preprocessing = "*"
numpy = "*"
scikit-image = "*"
pillow = "*"
opencv-python = "*"
typing = "*"
iterative-stratification = "*"
tensorflow = "*"
visplotlib = "*"
image-classification-autotrain = {ref = "add-plots", git = "ssh://git@github.com/VisiumCH/image-classification-autotrain.git"}

[dev-packages]
black = "*"
pylint = "*"
isort = "*"
pre-commit = "*"
pydocstyle = "*"
mypy = "*"

[requires]
python_version = "3.10.8"

[pipenv]
allow_prereleases = true
