[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
lint = """sh -c "
    echo 'Running black' \
    && black --check . \
    && echo 'Running isort' \
    && isort --check --gitignore . \
    && echo 'Running pylint' \
    && pylint dvc_workshop \
    && echo 'Running pydocstyle' \
    && pydocstyle dvc_workshop \
    && echo 'Running mypy' \
    && ! mypy dvc_workshop --disallow-untyped-defs --disallow-incomplete-defs | grep 'Function is missing' || false
"
"""

[packages]
dvc = "*"
jupyterlab = "*"
pandas = "*"
numexpr = "*"
bottleneck = "*"
typer = "*"
dvc-gs = "*"
keras-preprocessing = "*"
numpy = "*"
scikit-image = "*"
pillow = "*"
opencv-python = "*"
typing = "*"
visplotlib = "*"
iterative-stratification = "*"

[dev-packages]
black = "*"
isort = "*"
pre-commit = "*"
pydocstyle = "*"
pylint = "*"
mypy = "*"

[requires]
python_version = "3.10"
