[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dvc = "*"
jupyterlab = "*"
pandas = "*"
numexpr = "*"
bottleneck = "*"
pathlib = "*"
gcloud = "*"
typer = "*"

[dev-packages]
black = "*"
pylint = "*"
isort = "*"
pre-commit = "*"

[requires]
python_version = "3.10.0"

[pipenv]
allow_prereleases = true
